<html>

  <body>
    <a
      href="https://www.etsy.com/oauth/connect?response_type=code&redirect_uri=https://1c7f-205-164-155-16.ngrok.io/callback&scope=email_r&client_id=uk855u6gacrhwkoc6e4f8lxr&state=tnl2s&code_challenge=Fh5b6Ii8_gpLHClBCwMl50RxogT8tmu7yAbhyhpgzzo&code_challenge_method=S256"
    >
      Authenticate with Etsy
    </a>
  </body>

</html>

{{! https://www.etsy.com/oauth/connect?response_type=code&redirect_uri=http://localhost:3003/oauth/redirect&scope=email_r&client_id=dnvluho1z6ofatpb0qvxyqv2&state=jv22cx&code_challenge=LxHMwyTOd5ogLmYO-lpa9ER3hypoo_URqxtW8yug43A&code_challenge_method=S256 }}